
@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700,800);
iframe {display:none;} 

body {
	position:absolute; 
	min-width:100vw;
	max-width:100vw;
	min-height:100vh;
	max-height:100vh; 

	color:#aeaeae;
	font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif; /* 'Raleway', sans-serif; */
	font-weight:300;
	padding:0px; 
	margin:0px;
	overflow:hidden;
	}
#pw {
	background-color: #000; 
	position:absolute; 
	min-width:100vw;
	max-width:100vw;
	min-height:100vh;
	max-height:100vh; 
	z-index:99999; 
	transition: 5s;
}

#sky {
	background: linear-gradient(180deg, #6699FF, #F0E79F, #FF6666, #660066, #000033, #000033, #000066, #0066CC, #FFCCFF);
	min-width:100%;
	min-height:1000vh;
	position:fixed;
	top:-10px;
	z-index:-2;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	}	

#taskbar {
	position:absolute; 
	bottom:0px;
	left:0px; 
	right:0px; 
	min-width:100%; 
	max-width:750px; 
	min-height:45px; 
	max-height:45px; 
	}
#clock { 
	position:absolute; 
	bottom:12px;
	right:17px; 
	font-family:'Courier New', Courier, monospace; 
	font-size:15px;
	color:#000; 	
	font-weight:bold; 
	}

.gif {
	background:transparent; 
	opacity:1; 
	color:lightgreen;
	font-size:20px;
	text-align:center;
	max-width:50px;
	max-height:50px;
	padding:7px 5px 3px 5px;
	position:fixed;
	top:10px;
	right:10px;
	z-index:1;
	}
.gif:hover { 
	background:transparent; 
	opacity:0.5;
	cursor:help;
	transition:0.3s; 
	}
#folder { top:80px; }
#art { top:150px; }

	
#tiles {
	position:relative;
	margin:auto; 
	left:35%;
	}

#message, #x { 
	color:#fff; 
	font-size:30px; 
	/*font-family:'Indie Flower', sans-serif;*/
	text-align:left; 
	min-width: 30%;
	max-width: 30%;
	min-height:300px; 
	max-height:300px; 
	margin:0px; 
	padding:0px; 
	position:absolute; 
	left:40%; 
	bottom:45%; 
	cursor:crosshair; 
}

#heart {
	color:#FF6666; 
	opacity:0;
	position:absolute; 
	left:51%; 
	bottom:105px; 
	transition:1s;
}



/* SPRITES */

#sprite-elli {
	position:absolute; 
	left:10%; 
	bottom:42px; 
	cursor:default; 
	z-index:999; 
	}

#sprite-joel {
	position:absolute; 
	left:55%; 
	bottom:40px; 
	cursor:default; 
	}



