
body {
  padding: 0px;
  margin-top: 50px;
    }   
  
header { 
  margin-bottom: 10px; 
}

nav {
  background-color: #aaaaff;
  word-spacing: 10px;
  font-weight: 400;
  font-family: sans-serif;
  width: 100vw;
  padding: 5px;
  position:fixed;
  top:0px;
  left:0px;
}
nav a { text-decoration:none; }
nav a:hover { 
  color: white;
}

h1, h3 {
    text-align:center;
    }

.red {
    color:red; 
  }

.blue {
  color:blue;
}

.yellow-wrapper {
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

#float-right {
  float:right;
  margin-right:20px;
}