
body {
  padding: 0px;
  margin-top: 130px;
    }   
/*
header { 
  margin-bottom: 10px; 
}

nav {
  background-color: #465a85;
  color: #fff;
  font-weight: 900;
  font-family: sans-serif;
  width: 99vw;
  min-width: 400px;
  height: 30px;
  padding: 15px 5px 5px 15px;
  position:fixed;
  top:0px;
  left:0px;
  margin: auto;
}
nav a { 
  color: #fff; 
  font-weight: bold;
  text-decoration:none; 
}
nav a:hover { 
  color: #FFE597;
}
*/



header {
  background-color: #fff;
  color: #6d6e6e;
  font-size: 14px;
  font-weight: 300;
  font-family: sans-serif;
  border-top: 20px solid #dfefef;
  min-width: 1000px;
  width: 100vw;
  height: 110px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 100;
}
header img {
  background-color: white;
  width: 300px;
  height: 100px;
  margin: 0px 30px;
  float: left;
  display: inline;
}
nav {
  width: auto;
  height: auto;
  padding: 0px 0px 0px 15px;
  margin: auto;
  margin-top: 42px;
  display: inline-block;
}
nav a { 
  color: inherit;
  text-decoration: none;
  margin: 10px;
}
nav a:hover { 
  color: #FFE597;
}
.sub-nav {
  background-color: #dfdfdf;
  color: #fff;
  font-family: sans-serif;
  border: 0px solid #353535;
  border-top: none;
  border-radius: 0px 0px 0px 15px;
  width: 100vw;
  min-width: 400px;
  height: 30px;
  padding: 15px 5px 5px 15px;
  position:fixed;
  top:130px;
  left:0px;
  margin: auto;
}

.red {
    color:red; 
  }

.blue {
  color:blue;
}

.yellow-wrapper {
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

#float-right {
  float:right;
  margin-right:35px;
}