@charset "utf-8";
/* CSS Document */

  
body {
  background-color: #f5f5f5;
  background-image: url("../week03/trans-bg.gif");
  font-family: "Georgia", serif;
  color: #000;
  line-height: 1.4em;
  min-width: 1000px;
  min-height: auto;
  margin: 0px;
  overflow-x: hidden;
}
header {
  background-color: #fff;
  color: #6d6e6e;
  font-size: 14px;
  font-weight: 300;
  font-family: sans-serif;
  border-top: 20px solid #eef4f4;
  border-bottom: 1px solid #f8f8f8;
  min-width: 1000px;
  width: 100vw;
  height: 110px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 100;
}
header img {
  background-color: white;
  width: 300px;
  height: 100px;
  margin: 0px 30px;
  float: left;
  display: inline;
}
nav {
  width: auto;
  height: auto;
  padding: 0px 0px 0px 15px;
  margin: auto;
  margin-top: 42px;
  display: inline-block;
}
nav a { 
  color: inherit;
  text-decoration: none;
  margin: 10px;
}
nav a:hover { 
  color: #FFE597;
}

#float-right {
  float:right;
  margin-right:30px;
}

main {
  background-color: transparent;
  min-width: 1000px;
  margin-top: 130px;
  margin-bottom: 0px;
  overflow-y: scroll;
}
aside {
  background-color: transparent;
  padding: 0px;
  min-width: 100px;
  width: 17vw;
  height: 100vh;
  padding: 30px 0px 0px 3vw;
  position: fixed;
  top: 130px;
  left: 0px;
}
aside a, aside button { 
  background-color: transparent;
  color: #6d6e6e;
  font-size: 14px;
  font-weight: 300;
  font-family: sans-serif; 
  text-decoration: none;
  border: none;
  width: 80px;
  margin: 15px 0px;
  display: block;
  
  transition: .3s;
}
aside a:hover, aside button:hover { 
  background-color: #dfefef;
  width: 120px;
  cursor: pointer;
}
aside button:active {
  background-color: #fff;
}
section {
  background-color: transparent;
  background-image: url("books-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 400px;
  width: 70vw;
  height: auto;
  padding: 20px 5vw;
  margin: 0px;
  position: relative;
  top: 0px;
  left: 20vw;
}
#content blockquote {
  background-color: #fff;
  min-width: 400px;
  width: 70vw;
  min-height: 50vh;
  height: auto;
  padding: 20px 5vw 75px 5vw;
  margin: 0px;
  position: relative;
  top: 0px;
  left: 20vw;
  display: block;
}

#content a, footer a {
  font-family: sans-serif;
  font-weight: 100;
  color: #6d6e6e;

  transition: .5s;
}

#content ul a:hover {
  background-color: #FFE597;
  padding-right: 25px;
}

h1 {
  color: #11152e;
}

h5 {
  background-color: #eef4f4;
  font-family: sans-serif;
  max-width:100px;
  padding: 5px;
}
aside h5 {
  background-color: #FFE597;
  max-width:150px;
}


ul {
  list-style-type: square;
}

footer {
  background-image: url("../week03/trans-bg.gif");
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
  width: 90vw;
  height: 200px;
  padding: 20px 5vw;
  position: relative;
  left: 0px;
  bottom: 0px;
}
footer table, footer tr {
  width: 90%;
  margin: auto;
} 
footer td {
  background-color: transparent;
  padding: 20px;
}  
footer td:first-child {
  border-right: 1px dotted #353535;
}
footer a:hover {
  background-color: #FFE597;
}