
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Playfair+Display:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 5px;
}

