body {
  font-family: Raleway, sans-serif;
}
input, select {
  border: none;
  border-bottom: 2px solid #aeaeae;
  border-radius: 0px 10px 0px 0px; 
  margin: 5px 20px;
}
button {
  background-color: teal;
  color: #fff;
  font-size: 15px;
  border: 2px solid #fff; 
  border-radius: 10px;
  padding: 15px;
  margin: 5px 20px; 
  cursor:pointer; 
  
  -webkit-transition: 0.2s; 
  -moz-transition: 0.2s; 
  -o-transition: 0.2s; 
  -ms-transition: 0.2s; 
  transition: 0.2s;
}
button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 1;
}
